<html>
<head>
    <link href="mystyles.css"
          type="text/css"rel="stylesheet">
        </head>

<body>
    <section>
    <h1>憧れの人</h1>
    </section>
    
<h2>
    Joustin Beaver
    
    </h2>
    
    
<p>
    Ai fink Just In Beeper is kool. I finc he realy laiks <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> this</a> websait.
    
    I am:
    </p>    
    
    <ol>
    <li>A kul doode</li>
        <li>Crusty Peeper</li>
        <li>kyul</li>
    <li>Popular</li>
    </ol>
    
    </body>



</html>