body {
    background-image:url(Images/bieber%20school.jpg); font-family: cursive; background-repeat: no-repeat; height: 100%; background-position: center; background-size: cover; font-size: 0.8cm;
    
}


h1 {text-align:center;
}